.rgba {  
  background: rgba(215, 215, 233, 0.3);  
  height: 700px;
  width: 1000px;
  text-align:center;
}   


.centeralignwhite{
text-align: center;
color:white;
}

.colorwhite{
color:white;
}

.colorred{
color:red;
}

.marginleft2{
margin-left:2px;
}

.marginleft3{
margin-left:3px;
}

.marginleft4{
margin-left:4px;
}

.marginleft29{
margin-left:29px;
}

.styleleft{
float: left; 
height: auto; 
width:45%; 
}

.styleright{
float: right; 
height: auto; 
width:30%; 
}
